{% extends 'base.html' %}

{% block title %}Página Inicial - AgroData{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1 class="main-title">Bem-vindo ao AgroData</h1>
        <p>A sua plataforma de monitoramento agrícola inteligente.</p>

        <section class="card">
            <h2 class="sub-title">Sobre a Plataforma</h2>
            <p>
                O AgroData te ajuda a tomar decisões baseadas em dados climáticos precisos,
                otimizando suas plantações e aumentando sua produtividade.
            </p>
            <p>O AgroData é um Sistema de Apoio à Decisão (SAD) focado no setor agrícola.</p>
            <p>Nosso propósito principal é fornecer ao usuário (como um produtor rural, agrônomo ou analista) um
                painel de controle com dados cruciais para o planejamento de safras, unindo informações em tempo real e dados
                históricos de produção.</p>
        </section>

        <section class="card">
            <h2 class="sub-title">Comece Agora</h2>
            <p>
                Clique no link abaixo para criar seu primeiro plano de plantio e
                receber dados em tempo real da sua propriedade.
            </p>
            <a href="#">Criar novo Plano de Plantio</a>
        </section>
    </div>
{% endblock %}
