<footer>
    <p>&copy; 2025 AgroData. Todos os direitos reservados.</p>

    <div class="footer-details">
        <p>Projeto Integrador 4 - UNIVESP</p>
        <p>
            Código-fonte:
            <a href="https://github.com/Guisbeghendev/univespi4_v2" target="_blank" class="footer-link">
                GitHub
            </a>
        </p>
        <p>
            Fontes de Dados:
            <a href="https://sidra.ibge.gov.br/home/pms/brasil" target="_blank" class="footer-link">IBGE/SIDRA</a>,
            <a href="https://www.ibge.gov.br/" target="_blank" class="footer-link">IBGE</a>,
            <a href="https://www.cepea.org.br/" target="_blank" class="footer-link">CEPEA</a>,
            <a href="https://openweathermap.org/" target="_blank" class="footer-link">OpenWeatherMap</a>
        </p>
    </div>
</footer>