{# inicio card8 #}
    <div class="dash-card">
        <h4>Cotações</h4>
        <p>Fonte: CEPEA</p>

        <!-- Wrapper para permitir rolagem horizontal em telas pequenas -->
        <div class="cotacao-widget-wrapper">
            <!-- Widgets Produtos Cepea - www.cepea.esalq.com.br/br/widget.aspx -->
            <script type="text/javascript" src="https://www.cepea.org.br/br/widgetproduto.js.php?fonte=arial&tamanho=10&largura=400px&corfundo=dbd6b2&cortexto=333333&corlinha=ede7bf&id_indicador%5B%5D=54&id_indicador%5B%5D=91&id_indicador%5B%5D=53&id_indicador%5B%5D=23&id_indicador%5B%5D=24&id_indicador%5B%5D=381-1&id_indicador%5B%5D=380-1&id_indicador%5B%5D=378-420&id_indicador%5B%5D=72&id_indicador%5B%5D=77&id_indicador%5B%5D=12&id_indicador%5B%5D=179"></script>
        </div>
    </div>
{# fim card8 #}
