    {# inicio card2 #}
<div class="dash-card">
        <h4>Detalhes do Clima em {{ city_name|default:"-" }}</h4>
        {% if weather_data %}
            <p><strong>Umidade:</strong> {{ weather_data.main.humidity|default:"-" }}%</p>
            <p><strong>Vento:</strong> {{ weather_data.wind.speed|default:"-" }} m/s</p>
            <p><strong>Pressão:</strong> {{ weather_data.main.pressure|default:"-" }} hPa</p>
        {% else %}
            <p>Dados de clima não disponíveis.</p>
        {% endif %}
    </div>
    {# fim card2 #}


    {# inicio card3 #}
    <div class="dash-card">
        <h4>Condição do Tempo em {{ city_name|default:"-" }}</h4>
        {% if weather_data %}
            <p>**{{ weather_data.weather.0.description|default:"-"|title }}**</p>
        {% else %}
            <p>Dados de clima não disponíveis.</p>
        {% endif %}
    </div>
    {# fim card3 #}


    {# inicio card4 - este card vai ocupar 2 espacos #}
    <div class="dash-card dash-card-wide">
    <h4>Temperatura em {{ city_name|default:"-" }}</h4>
    {% if weather_data %}
        <p style="font-size: 2.5rem; font-weight: bold; margin: 0;">{{ weather_data.main.temp|floatformat:"0" }}°C</p>
        <p>Sensação térmica: {{ weather_data.main.feels_like|floatformat:"0" }}°C</p>
        <p>Mínima: {{ weather_data.main.temp_min|floatformat:"0" }}°C / Máxima: {{ weather_data.main.temp_max|floatformat:"0" }}°C</p>
    {% else %}
        <p>Dados de temperatura não disponíveis.</p>
    {% endif %}
    </div>
    {# fim card4 #}

