{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
    <div class="dashboard-grid">

            <div class="dash-card dash-card-full">
                {% include 'bloco1.html' %}
            </div>

        {% if visibilidade.bloco2 %}
            <div class="dash-card dash-card-full">
                {% include 'bloco2.html' %}
            </div>
        {% endif %}

        {% if visibilidade.bloco3 %}
            <div class="dash-card dash-card-full">
                {% include 'bloco3.html' %}
            </div>
        {% endif %}

        {% if visibilidade.bloco4 %}
            <div class="dash-card dash-card-full">
                {% include 'bloco4.html' %}
            </div>
        {% endif %}

        {% if visibilidade.bloco5 %}
            <div class="dash-card dash-card-full">
                {% include 'bloco5.html' %}
            </div>
        {% endif %}

        {% if visibilidade.bloco6 %}
            <div class="dash-card dash-card-full">
                {% include 'bloco6.html' %}
            </div>
        {% endif %}

    </div>
</main>

{% endblock %}